extends layout

block index
    div.container
        h1.head Valrapportering i Node.js!
        div.links
            a.link(href="/resultat") Resultat
            a.link(href="/resultatrapport") Rapportera resultat